<h2 align="center">Добро пожаловать, <%= @authorized_user.name %>!</h2>

<% content_for :manual do %>
    <p id="manual">
    <i>Краткая справка:</i><br/>
    На этой странице Вы получаете ссылки на таблицы результатов анализа качества топлива и доступ к отчетам, если Вам назначены соответствующие права.<br />
    Для завершения работы в приложении всегда можно нажать кнопку 'Выход' в верхнем правом углу.
    </p>
<% end %>