<h1>Домашний каталог авторизованного пользователя</h1>
<p>ToDo: Надо добавить контент для страницы.</p>
<% user=User.find(session[:user_id]) -%>
<%= "Право на просмотр: #{has_grant?(:index,user) ? 'есть':'нет'}" %><br />
<%= "Право на редактирование: #{has_grant?(:edit,user) ? 'есть':'нет'}" %><br />
<%= "Право на корректировку: #{has_grant?(:correct,user) ? 'есть':'нет'}" %><br />
<%= "Право на отчеты: #{has_grant?(:report,user) ? 'есть':'нет'}" %>