<h1 align="center">Добро пожаловать в приложение по контролю качества топлива!</h1>
<p align="center">
  Вы находитесь на стартовой странице.<br />
  Для того, чтобы начать работу с приложением необходимо пройти авторизацию в системе.<br />
  Введите имя пользователя и пароль в верхнем правом углу.
</p>
<hr align="center" width=50%>
<p align="center">
  Если Вам не известны учётные данные для входа в приложение, то Вам необходимо обратиться в управление топлива и транспорта,<br/>
  поскольку указанное подразделение является заказчиком разработки данного ПО.<br/>
  Разработчиком приложения является отдел эксплуатации АСУТП управления информационнх технологий.<br/>
  Приложение все ещё дорабатывается, поэтому просим все замечания и предложения направлять в адрес <a href="mailto:TroyanVN@oegc.tgk11.com" >Трояна В.Н.</a>
</p>



