
<div id="news">
  <div id="news_block_title">
    Блок новостей:<br />
  </div>
  <% @news.each do |news| %>
    <div id="news_time">
      <%= news.dttm.localtime.strftime('%d.%m.%Y %H:%M') %>
    </div>
    <div id="news_title">
      <%= news.title %>
    </div>
    <div id="news_description">
      <%== news.description %>
    </div>
  <% end %>
</div>
<h1>Домашняя страница интранет приложения</h1>
<p>Страница в разработке...</p>
  Функции программного обеспечения контроля качества топлива:
  <ul>
    <li>Ввод и отслеживание истории контрольных качественных проб топлива (газа, мазута, угля).</li>
    <li>Сравнивнение данных по качеству топлива химлаборатории с данными поставщика.</li>
    <li>Формирование данных и форм для претензионных документов.</li>
  </ul>

