<div class="home_quote">
  <span class="quote_title">Функции программного обеспечения контроля качества топлива:</span>
  <ul>
    <li>Ввод и отслеживание истории контрольных качественных проб топлива (газа, мазута, угля).</li>
    <li>Сравнивнение данных по качеству топлива химлаборатории с данными поставщика.</li>
    <li>Формирование данных и форм для претензионных документов.</li>
  </ul>


</div>
