<h3>Отчет по газу</h3>
<table>
  <tr>
    <th>Структурное<br/>подразделение</th>
    <th>Дата время</th>
    <th>Низшая теплота<br/>сгорания (ккал/кг)</th>
  </tr>

  <% @gaz_assays.each do |gaz_assay| %>
      <tr <%= 'id=suplier_data' if gaz_assay.is_suplier_assay %>>
        <td><%= gaz_assay.subdivision %></td>
        <td><%= gaz_assay.dttm.strftime("%d.%m.%Y %H:%M") %></td>
        <td><%= gaz_assay.ncv %></td>
      </tr>
  <% end %>
</table>