<html>
<head>
  <title>Качество топлива. Подробно.</title>
  <%= stylesheet_link_tag "for_print", media: 'print' %>
  <%= stylesheet_link_tag "for_print" %>
  <style type="text/css" media="print">
      div.no_print {display: none;}
  </style>
  <style type="text/css" media="screen">
      div.no_view {display: none;}
  </style>

</head>
<body class="paper">
<%= @masut_assay.is_suplier_assay ? render('ma_supp_data_table') : render('ma_data_table') %>
</body>


</html>