// Place all the styles related to the CoilAssays controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.coil_assays {
  table {
    width: 100%; /* Ширина таблицы */
    border: 4px double black; /* Рамка вокруг таблицы */
    border-collapse: collapse; /* Отображать только одинарные линии */
  }
  th {
    text-align: center; /* Выравнивание по левому краю */
    vertical-align: top;
    background: #ccc; /* Цвет фона ячеек */
    padding: 5px; /* Поля вокруг содержимого ячеек */
    border: 1px solid black; /* Граница вокруг ячеек */
  }
  td {
    padding: 5px; /* Поля вокруг содержимого ячеек */
    border: 1px solid black; /* Граница вокруг ячеек */
    text-align: center;
  }
  #suplier_data {
    background-color: #9ec688;
  }
  .form_title {
    margin-left: 200px;
  }
  fieldset.common_data {
    .field {
      clear: both;
      text-align: right;
    }
    label {
      float: left;
      color: #000000;
    }
    input {
      clear: both;
      vertical-align: middle;
    }
    width: 420px;
  }
  .asset_table {
    width: 730px;
  }

}