// Place all the styles related to the GazAssays controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.gaz_assays {
  table {
    width: 700px; /* Ширина таблицы */
    border: 4px double black; /* Рамка вокруг таблицы */
    border-collapse: collapse; /* Отображать только одинарные линии */
  }
  th {
    text-align: center; /* Выравнивание по левому краю */
    vertical-align: top;
    background: #ccc; /* Цвет фона ячеек */
    padding: 5px; /* Поля вокруг содержимого ячеек */
    border: 1px solid black; /* Граница вокруг ячеек */
  }
  td {
    padding: 5px; /* Поля вокруг содержимого ячеек */
    border: 1px solid black; /* Граница вокруг ячеек */
    text-align: center;
  }
  .list_actions {
    font-size:    x-small;
    text-align:   right;
    padding-left: 1em;
  }
  ul {
    li {
      font-size: medium;
      a {
        color: #070b90;
        font-size: medium;
      }
    }
  }
  #suplier_data {
    background-color: #9ec688;
  }
  p#manual {
    color: #951b2a;
    font-size: x-small;
    background-color: #f8f5d0;
    padding: 5px;
  }
  fieldset.gaz_assays_data {
    input {
      clear: both;
      vertical-align: middle;

    }
    .field {
      clear: both;
      text-align: right;

    }
    label {
      float: left;
      color: #000000;
    }
    width: 350px;
    color: navy;
  }
}