// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home {
  font-size: 10px;
  #news {
    background: #fff9a8;
    width:300px;
    float: right;
    padding: 5px;
  }
  #news_description {

  }
  #news_time {
    font-style: italic;
  }
  #news_title {
    font-weight: bold;
  }
}