
<%= render 'form' %>

<br/>
<%= link_to 'К перечню анализов газа', gaz_assays_path %>
<% content_for :manual do %>
    <p id="manual">
      <i>Краткая справка:</i><br/>
      На этой странице Вы получаете возможность редактировать данные о калорийности газа.<br />
      Некоторые поля обязательны для заполнения. Если они не будут заполнены, при сохранении поле будет выделено, и Вы получите предупреждение.<br />
      Разделитель целой и дробной части - точка.<br/>
      Данные изменяет только кнопка "Принять". Если Вы не хотите вносить изменения в базу данных, можно нажать на любую ссылку. <br />
      <br />
      Для завершения работы в приложении всегда можно нажать кнопку 'Выход' в верхнем правом углу.
    </p>
<% end %>
